li {
    display: flex;
    justify-content: flex-start;
}

.meta ul {
    list-style: none;
    
}

.astra-shop-summary-wrap {
    justify-content: center;
}

.titleBlogs {
    margin-top: 50px;
    margin-bottom: 30px;
}


.middle {
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30px;
    margin-top: 40px;
}
